.footer{
    background-color: #0A0F0C;
    color: white;
    text-align: start;
    padding: 10px;
    left: 0; /* Plaats de footer links */
    bottom: 0; /* Plaats de footer onderaan de pagina */
    max-width: 100%;
}