  .practical-box { 
    background-image: url('../src/assets/weg.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    max-width: 100vw; 
    min-height: 100vh; 
    margin: 0 20%;
    padding: 1vh 1vh;
  }
  .practical-text{
    background-color: rgba(144, 238, 144, 0.205);
    padding: 2vh 8vh;
    margin: 2vh 20vh;
    border-radius: 20px;
    color: white;
    text-shadow: 
      -1px -1px 0 black,  
      1px -1px 0 black,   
      -1px 1px 0 black,   
      1px 1px 0 black;
 
  }
  .practical-text h1 {
    font-size: 4em;
  }
  .practical-text h2 {
    font-size: 2.5em;
  }
  .practical-text p {
    font-size: 1.25em;
  }

  